.login{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:768px) {
        height:300px;
        width: 468px;
    }

    .login-form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 15px;
        background-color: #014592;
        padding: 15px;

        .form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;
                gap: 10px;
                margin-bottom: 20px;
                margin-top:-10px ;

                #email{
                    width: 300px;
                    height: 30px;
                    border:none;
                    border-radius: 15px;
                    padding-left: 15px;
                    background-color: white;
                }
                #password{
                    width: 300px;
                    height: 30px;
                    border: none;
                    border-radius: 15px;
                    padding-left: 15px;
                    background-color: white;
                }
                #btn-entrar{
                    background: none;
                    width: 100px;
                    border: 1px solid white;
                }
            }

        @media (max-width:768px) {
            width: 80%;
            height: 200px;
            
            .form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;
                gap: 10px;
                margin-bottom: 20px;
                margin-top:-10px ;

                #email{
                    width: 300px;
                    height: 30px;
                    border:none;
                    border-radius: 15px;
                    padding-left: 15px;
                    background-color: white;
                }
                #password{
                    width: 300px;
                    height: 30px;
                    border: none;
                    border-radius: 15px;
                    padding-left: 15px;
                    background-color: white;
                }
                #btn-entrar{
                    background: none;
                    width: 100px;
                    border: 1px solid white;
                }
            }
        }
    }      
}