main{
  overflow-x: hidden;
  max-width: 468px;
  @media (max-width:768px) {
    min-width: 97vw;
  }
  section{
    .apresentacao{
      display: flex;
      justify-content: center;
      align-items: center;

      #apresentacao{
        height: 300px;
        min-width: 468px;
      }
    }
    .carrosel-cursos{
      border: 2px solid white;
      background: linear-gradient(to right, #1d4e89, #0a2f5c);
      height: 500px;
    }
    .carrosel-professores{
      border: 2px solid white;
      background: linear-gradient(to right, #1d4e89, #0a2f5c);
      height: 500px;
    }
    .video-fundo{
      height: 400px;
      width: 97vw;
    }
  }
}