.historia-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .historia-header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 25px;
        width: 99vw;
        border-bottom: 3px solid white;

        .historia-card{
            height: 455px;
            width: 97vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .historia-card-img{
                margin-bottom: -30px;
                #historiaimg{
                    margin-left:-55px;
                    height: 480px;
                    width: 420px;
                    border-right: 4px solid black;
                }
            }
            .historia-card-txt{
                margin-bottom: -30px;
                margin-right: 60px;
                padding: 5px;
                width:40vw;
                height: fit-content;
                font-size: 16px;
                text-align: justify;
                border: 4px solid black;
                background-color: white;
                color: black;
            }

            @media (max-width:768px){
                flex-direction: column;
                .historia-card-img{
                    #historiaimg{
                        height: 350px;
                        width: 320px;
                        border: 4px solid black;
                    }
                }
                .historia-card-txt{
                    padding: 5px;
                    width:70vw;
                    height: fit-content;
                    font-size: 12px;
                    text-align: justify;
                    border: 4px solid black;
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}