.navbar__desktop-menu {
  display: flex;
  gap: 1rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.navbar__hamburger {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}
