.footer {
    margin-top: 15px;
    border-top: 3px solid white;
    display: flex;

     @media (max-width:768px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: url(../../../public/images/footer.png);

        .exhibitors{
            .logos{
                display: flex;
                justify-content: center;
                gap: 15px;
                
                #pwiimg{
                    width: 150px;
                    height: 85px;
                }
                #santanderimg{
                    width: 150px;
                    height: 85px;
                }
            }
        }
        
        .contact{
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .contact-items{
                margin-top: -10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .contact-item{
                    font-size: 15px;

                    #txt{
                        text-decoration: underline;
                    }
                }
            }
        }

        .fair-logo{
                display: flex;
                justify-content: center;
                gap: 15px;

                #fairSantander{
                    width: 50px;
                    height: 25px;
                }
                #fairPWI{
                    width: 50px;
                    height: 25px;
                }
                #fairFeira{
                    width: 50px;
                    height: 25px;
                }
            }
    }
}