.footer {
        @media (max-width:768px) {
            display: flex;
            flex-direction: column;
            width: 468px;
            background-image: url(../../../public/images/footer.png);
            #pwiimg{
                width: 400px;
                height: 250px;
            }
        }
}